body div {
    display: flex;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%
}

.header-logo, .intro-awesome {
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
}

ul, .intro-text {
    color: #E5E7EB;
    font-size: 18px;  
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 20px;  
}

.intro {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 1% 5%;
}

.left-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
}

.intro > img {
    max-width: 50%;
    height: auto;
    align-self: center;
    border-radius: 10%;
}

.intro-awesome {
    font-size: 48px;
    font-weight: 800;
    margin: 16px 0;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    width: 200px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 25px;
}

.random-info {
    flex-direction: column;
    align-items: center;
}

.info-container > div {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 600;
    margin: 32px;
}

.info-box > img {
    max-width: 50%;
    height: auto;
    border:5px solid #3882F6;
    border-radius: 20%;
    padding: 10%;
}

.info-container {
    margin: 32px;
}

.quote-block {
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 10% 20%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-block > p {
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.last-section {
    margin: 5% 10%;
    background-color: #3882F6;
    padding: 2% 10%;
    justify-content: space-between;
    border-radius: 20px;
}

.outro-left {
    flex-direction: column;
}

.outro-header {
    font-weight: bold;
}

.outro-header, .outro-text {
    color: white;
    margin: 2px 0;
}

.last-section > button {
    border: 2px solid white;

}

.footer {
    background-color: #1F2937;
    padding: 32px;
    justify-content: center;
    color: white;
}